<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <p>
        <center>
          <img src="assets/images/logo.png">
        </center>
      </p>
      <ion-card-title>Asimov Jr.</ion-card-title>
      <ion-card-subtitle>Empresa Junior</ion-card-subtitle>
      
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="cog-outline" slot="start"></ion-icon>
      <ion-label>Engenharia de Controle e Automação</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="laptop-outline" slot="start"></ion-icon>
      <ion-label>Engenharia da Computação</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="flash-outline" slot="start"></ion-icon>
      <ion-label>Engenharia Eletrôncia</ion-label>
    </ion-item>

  </ion-card>
</ion-content>
