<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides pager="true" [options]="slideOpts">

    <ion-slide class="slide_image">
      <div>
        <h1>Serviços</h1>
        <img src="assets/images/servicos.png">
        <p>
          <ion-item>
            <ion-icon name="globe" slot="start"></ion-icon>
            <ion-label>Desenvolvimento de Sites</ion-label>
          </ion-item>
      
          <ion-item>
            <ion-icon name="cart" slot="start"></ion-icon>
            <ion-label>Desenvolvimento de Ecommerces</ion-label>
          </ion-item>
      
          <ion-item>
            <ion-icon name="clipboard" slot="start"></ion-icon>
            <ion-label>Consultoria em Automação</ion-label>
          </ion-item>

          <ion-item>
            <ion-icon name="code" slot="start"></ion-icon>
            <ion-label>Desenvolvimento de Software</ion-label>
          </ion-item>
      
          <ion-item>
            <ion-icon name="compass" slot="start"></ion-icon>
            <ion-label>Desenvolvimento de Soluções Tecnológicas</ion-label>
          </ion-item>
      
          <ion-item>
            <ion-icon name="settings" slot="start"></ion-icon>
            <ion-label>Consultoria em Instrumentação Industrial</ion-label>
          </ion-item>
        </p>
      </div>
    </ion-slide>

    <ion-slide class="slide_image">
      <div>
        <h1>Sobre Nós</h1>
        <h2>Desenvolvemos o presente para ver a beleza do futuro</h2>
        <img src="assets/images/sobre.png">
        <p>
          A Asimov Júnior é uma empresa júnior voltada para a área de tecnologia, desenvolvendo soluções em Engenharia de Controle e Automação, Engenharia Eletrônica e Engenharia de Computação. Pertencente à Universidade Federal de Itajubá (UNIFEI) e com sede em Itajubá - MG, a Asimov Júnior contribui para o ecossistema empreendedor da região auxiliando a modernização desde pequenos negócios a grandes indústrias. Ao prestar serviços na área de hardware, software e automação, a empresa garante a alta qualidade e inovação nos projetos realizados por discentes mediante instrução de mestres e doutores da UNIFEI.
        </p>
      </div>
    </ion-slide>   
    
    <ion-slide class="slide_image">
      <div class= "vertical">
        <h1>Valores</h1>
        <h2>Estamos motivados a sempre melhorar</h2>
        <h3>Temos orgulho dos nossos valores e possuimos convicções claras sobre o que prezamos e defendemos, tanto para nossos funcionários quanto para os nossos clientes</h3>
        
        <p>
          <ion-item>
            <ion-icon name="people" slot="start"></ion-icon>
            <ion-label>Ownership</ion-label>
          </ion-item>
      
          <ion-item>
            <ion-icon name="heart" slot="start"></ion-icon>
            <ion-label>União</ion-label>
          </ion-item>
      
          <ion-item>
            <ion-icon name="trending-up" slot="start"></ion-icon>
            <ion-label>Evoluir Sempre</ion-label>
          </ion-item>

          <ion-item>
            <ion-icon name="briefcase" slot="start"></ion-icon>
            <ion-label>Profissionalismo</ion-label>
          </ion-item>
      
          <ion-item>
            <ion-icon name="rocket" slot="start"></ion-icon>
            <ion-label>Pau na Máquina</ion-label>
          </ion-item>
        </p>
      </div>
    </ion-slide>

    

    <ion-slide class="slide_image">
      <div>
        <h1>Apoiadores</h1>
        <h2>Somos apoiados por gigantes</h2>
        <h3>A nossa jornada é acompanhada por grandes pessoas que acreditam em nossos ideais</h3>

        <ion-row class="foto"> 
          <ion-col>
        <img src="assets/images/unifei.png">
        <img src="assets/images/nucleo.png">
        <img src="assets/images/fejemg.png">
        <img src="assets/images/brasil.png">
        </ion-col>
        </ion-row>
        <p>
          
        </p>
      </div>
    </ion-slide>


  </ion-slides>
</ion-content>
