ion-slides {
    img { text-align: center;}
    
}

ion-slide{
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
}

ion-slide h1{
    text-align: center;
    vertical-align: 0%;
    color:#007fff;
    font-size: 15px;
}

ion-slide h2{
    text-align: center;
    vertical-align: 0%;
    font-size: 25px;
}

ion-slide h3{
   
    vertical-align: 0%;
    color:gray;
    font-size: 12px;
}
.foto{
    text-align: center;
}
