<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <p>
        <center>
          <img src="assets/images/contact.png">
        </center>
      </p>
      <ion-card-title>Asimov Jr.</ion-card-title>
      <ion-card-subtitle>Entre em contato conosco</ion-card-subtitle>
      
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="logo-facebook" slot="start"></ion-icon>
      <ion-label>Asimov Júnior</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="logo-instagram" slot="start"></ion-icon>
      <ion-label>@asimovjr</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="logo-linkedin" slot="start"></ion-icon>
      <ion-label>Asimov Jr.</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-label>comercial@asimovjr.com.br</ion-label>
    </ion-item>

  </ion-card>
</ion-content>
